html, body {
  margin: 0;
  height: 100%;
  font-family: Arial;
}

#map {
  height: calc(100vh - 90px);
}

.top-bar {
  height: 45px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.panel {
  height: 45px;
  display: flex;
}

.panel input, .panel select {
  flex: 1;
}