/* style.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  height: calc(100vh - 90px);
  width: 100%;
}

.top-bar {
  height: 45px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.top-bar button {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  color: white;
}

.panel {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin: 5px;
}

.panel input, .panel select {
  flex: 1;
  margin-right: 5px;
  padding: 5px;
  font-size: 14px;
}

.marker-popup {
  font-size: 14px;
}